body
{
background: url("pa2.jpg");
background-repeat: repeat;
background-position :left top;
background-attachment: fixed;
background-size: cover;
}
.jumbotron{
  margin-top: 80px;
  margin-bottom: 80px;
background-color: rgba(0,0,0,0.7);
 background-size: cover;
 }
.fo{
  font-size: 40px;
  color: white;
  text-shadow: 5px 5px black;
}
.fa {
 padding: 20px;
 font-size: 40px;
 width: 50px;
 text-align: center;
 text-decoration: none;
 margin-top: 18px;
}
.fa-facebook {
 background: transparent;
 color: white;
}
.fa-instagram {
 background: transparent;
 color:white;
}
footer {
  text-align: center;
  padding: 3px;
  background-color:black;
  color: white;
}
.we{
  text-align:center;
  font-size: 60px;

  text-shadow: 3px 3px 5px black;
  color: white;
}
